//- Var for nav
include variables

// Nav
header.headerDesktop
	.headerShadow
	.headerTitle
		.headDivide
			.creativo 
				h1#mTitle 
					a(href='#index') Creativo
				.page
					ul
						li.icon-home#homeHeadIcon
						li.icon-info-outline#abouHeadIcon
						li.icon-cogs#processHeadIcon
						li.icon-chat-inv#contactHeadIcon
	nav(role="navigation")
		ul#nav
			li
				a.current(href='#section-1') Home
			li
				a(href='#section-2') About Us
			li
				a(href='#section-3') Process
			li
				a(href='#section-4') Contact
	
		//- ul#menu
		//- 	- each page,i in Navigation
		//- 		- if (currentPage === page.link)
		//- 			li(class='#{page.link}').active
		//- 				a(href='#{page.link}.html') #{page.title}
		//- 		- else
		//- 			li(class="#{page.link}")
		//- 				a(href='#{page.link}.html') #{page.title}