//- Var for nav
include variables

// Nav
header.headerDesktop
	.headerShadow
	.headerTitle
		.headDivide
			.creativo 
				h1#mTitle 
					a(href='#index') Creativo
				.page
					ul
						li One
						li Two
						li Three
						li Four
	nav(role="navigation")
		ul#menu
			- each page,i in Navigation
				- if (currentPage === page.link)
					li(class='#{page.link}').active
						a(href='#{page.link}.html') #{page.title}
				- else
					li(class="#{page.link}")
						a(href='#{page.link}.html') #{page.title}